<!-- Menu: Componente para el menu que se muestr una vez dentro del
administrador -->
<ion-split-pane>
	<!-- Contenido del menu -->
	<ion-menu [content]="content" id="menu">
		<!-- Header del menu donde se muestra el titulo -->
		<ion-header>
			<ion-toolbar color="primary">
				<ion-title>Menu</ion-title>
			</ion-toolbar>
		</ion-header>
		<!-- Contenido del menu -->
		<ion-content class="outer-content" class="no-scroll">
			<!-- Header de categoría administrativo de paginas -->
			<ion-list-header>
				Administración
			</ion-list-header>
			<!-- Repetir paginas -->
			<button ion-item menuClose *ngFor="let p of paginas" (click)="openPage(p)">
				<p><ion-icon item-left [name]="p.icon"></ion-icon>
				{{ p.titulo }}</p>
	        </button>
	        <button ion-item menuClose *ngFor="let p of opciones" (click)="openPage(p)">
	        	<p><ion-icon item-left [name]="p.icon"></ion-icon>
	        	{{ p.titulo }} </p>
	        </button>
	        <button ion-item menuClose (click)="cerrarSesion()">
				<p><ion-icon item-left name="log-out"></ion-icon>
				Cerrar sesión</p>
	        </button>    
	    </ion-content>
	</ion-menu>
	<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>